
  
.thisComponent {

    background-color: rgba(0, 0, 0, 0.772);
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .closebtn {
        position: fixed;
        top: 2%;
        right: 2%;
        color: grey;
    }

    .closebtn:hover {
        color: white;
    }

    .modal {
        background-color: white;
        border-radius: 20px;
        width: 80%;
        height: 40%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-content: center;
        min-width: 320px;

        .img_container {
            
            img {
                padding: 1rem;
                width: auto;
                height: 300px;
                object-fit: scale-down;
            }
        }
        
        .info {
            padding: 1rem;
        }

        .genres {
            font-weight: bold;
        }
    }

}

.visible {
    display: block;
}

@media only screen and (max-width: 480px) {

    .thisComponent {

        background-color: rgba(0, 0, 0, 0.772);
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        .closebtn {
            position: fixed;
            top: 1%;
            right: 1%;
            color: grey;
        }
    
        .closebtn:hover {
            color: white;
        }
    
        .modal {
        background-color: white;
        border-radius: 20px;
        width: 80%;
        height: 98%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-content: center;
    
            .img_container {
                
                img {
                    padding: 1rem;
                    width: auto;
                    height: 300px;
                    object-fit: scale-down;
                }
            }
            
            .info {
                padding: 1rem;
            }
    
            .genres {
                font-weight: bold;
            }
        }
    
    }
    .visible {
        display: block;
    }

    
}

@media only screen and (min-width: 481px) and (max-width: 612px) {
    
  
.thisComponent {

    background-color: rgba(0, 0, 0, 0.772);
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .modal {
        background-color: white;
        border-radius: 20px;
        width: 80%;
        height: 40%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-content: center;
        min-width: 491px;

        .img_container {
            
            img {
                padding: 1rem;
                width: auto;
                height: 300px;
                object-fit: scale-down;
            }
        }
        
        .info {
            padding: 1rem;
        }

        .genres {
            font-weight: bold;
        }
    }

}

.visible {
    display: block;
}
}