.Modal {
    
    // position:fixed;
    background-color: rgb(88, 177, 0);
    color: white;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    // top:50%;
    // left:50%;
    // transform: translate(-50%,-50%);
    text-align: center;
    font-weight: bold;
    
}

