.all {
    display: flex;
    justify-content: center;
    
    header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem;
    width: 90%;
    border-bottom: 1px solid white;

    h1 {

        font-weight: 900;
        color: white;
    }

    .NavBar {  

        ul {
        display: flex;
        justify-content: flex-end;
        gap: 30px;
        list-style: none;
        font-weight: 600;
        
        li {

            .hover_underline_animation:link,
            .hover_underline_animation:visited {
                display: inline-block;
                position: relative;
                color: white;
                text-decoration: none;
              }

              .hover_underline_animation:after {
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: white;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
              }
              
              .hover_underline_animation:hover:after {
                transform: scaleX(1);
                transform-origin: bottom left;
              }
        

            }
        
        }
        
    }
}}

@media only screen and (max-width: 480px) {

    header{
        flex-direction: column;

        h1 {
            margin: auto;
            padding: 1rem;
        }
    }
}