.all {
    display: flex;
    justify-content: center;
    
    header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem;
    width: 90%;
    border-bottom: 1px solid white;

    h1 {

        font-weight: 900;
        color: white;
    }

    .NavBar {  

        ul {
        display: flex;
        justify-content: flex-end;
        gap: 30px;
        list-style: none;
        font-weight: 600;

            a {
                text-decoration: none;
                color: white;
            }
        
            a:hover {
                text-decoration: 2px underline;
                color: white;
            }
        }
        
    }
}}

@media only screen and (max-width: 480px) {

    header{
        flex-direction: column;

        h1 {
            margin: auto;
            padding: 1rem;
        }
    }
}