.EditMovie {
    width:100vw;
    display: flex;

    .ModifySection {
        display: flex;
        flex-direction: column;
        padding-top: 0.6rem;
    }

    form {
        width: 100vh;
        padding: 1rem 0rem;
        
        input {
            margin: 0;
        }

        input[type="submit"] {
            margin: 0;
        }
    }
    
}