
.EditMovie {
    width:100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1.5rem;

    button {
        display: none;
    }

    .ModifySection {
        display: flex;
        flex-direction: column;
        padding-top: 0.6rem;
        width: 40%;

        h2 {
            color: white;
            margin: 0;
        }
    }

    

    form {
        padding: 1rem 0rem;
        margin: 0;
        
        input {
            margin: 0;
        }

        input[type="submit"] {
            margin: 0;
        }
    }
    
}





@media only screen and (max-width: 480px) {

    h2 {
        text-align: center;
    }

    .EditMovie {
        .ModifySection {
            width: 90%;
        }

        form {
            padding: 1rem 0rem;
            
            
            input {
                margin: 0;
            }
    
            input[type="submit"] {
                margin: 0;
            }
        }
    }
}