
  
.thisComponent {

    background-color: rgba(0, 0, 0, 0.772);
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .modal {
        background-color: white;
        width: 300px;
        height: 300px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-content: center;

        .all {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }

    .delbtn {
        padding: 1rem 1rem 0 0 ;
        display: flex;
        justify-content: flex-end;

        .deletebtn {
            all: unset;
        }
    }

        .textmodal {
            display: flex;
            flex-direction: column;
        }

        p {
            font-size: 20px;
            text-align: center;
        }

        .Btns {
            display: flex;
            justify-content: space-evenly;
            padding-top: 1rem;

            button {
                all: unset;
                background-color: rgb(0, 0, 0);
                color: white;
                width: 60px;
                height: 30px;
                border-radius: 10px;
                text-align: center;
                font-weight: bold;
            }

            button.yesbtn:hover {
                background-color: rgb(88, 177, 0);
            }

            button.nobtn:hover {
                background-color: rgb(144, 144, 144);
            }
        }
    
}

.visible {
    display: block;
}